# Required in every authentication mode
COGNITE_PROJECT=
COGNITE_BASE_URL=
# Alternatively to COGNITE_BASE_URL: COGNITE_CLUSTER=westeurope-1
COGNITE_CLIENT_NAME=python-playground

# Choose one authentication method.
# COGNITE_ACCESS_TOKEN=
# COGNITE_TOKEN_URL=
# COGNITE_CLIENT_ID=
# COGNITE_CLIENT_SECRET=
# COGNITE_SCOPES=https://<cluster>.cognitedata.com/.default
